<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.umn.myumn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launch_myumn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Enrollment.EnrollmentDetail"></activity>
        <activity android:name=".Enrollment.Enrollment" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".Grade.GradeDetail" />
        <activity android:name=".Financial.Financial" />
        <activity android:name=".Grade.Grade" />
        <activity android:name=".Attendance.AttendanceDetail" />
        <activity android:name=".Attendance.Attendance" />
        <activity android:name=".Event.EventDetail" />
        <activity android:name=".Skkm.Skkm" />
        <activity android:name=".Event.Event" />
        <activity android:name=".Schedule.Schedule" />
        <activity android:name=".Course.CourseActivity" />
        <activity android:name=".Course.Course" />
        <activity android:name=".Notification.Notification" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".Menu.Menu" />
        <activity
            android:name=".Splash.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Dashboard.AlertReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>